
body.modal-open {
  overflow: hidden;
  position: fixed;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  overflow: auto; /* Enable scroll if needed */
  background-color: #fefefe;
  margin: auto;
  padding: 20px 20px 0px 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .modal-content {
    height: 100%;
    margin: 0;
    width: 89%;
  }
  .modal{
    padding-top: 0;
    max-width: 100%;
    max-height: 100%;
  }
}
 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modal-content{
    width: 40%;
    max-height: 60%;
  }

  .modal{
    padding-top: 100px;
  }
} 

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .modal{
      padding-top: 100px;
      max-width: 100%;
      max-height: 100%;
    }
    .modal-content{
      width: 80%;
      max-height: 80%;
    }
  } 

/* Landscape tablets -> ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .modal{
      padding-top: 50px;
    }
}